---
- name: Deploy weather-ml app to Kubernetes
  hosts: local

  tasks:

    - name: Write deployment manifest
      copy:
        dest: /tmp/deployment.yml
        content: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: weather-ml-app
          spec:
            replicas: 2
            selector:
              matchLabels:
                app: weather-ml
            template:
              metadata:
                labels:
                  app: weather-ml
              spec:
                containers:
                - name: weather-ml
                  image: sdon201/weather-ml-app:v1
                  ports:
                  - containerPort: 5000

    - name: Apply deployment
      command: kubectl apply -f /tmp/deployment.yml
